<!-- <h1> -->
<!--   {{title}} -->
<!-- </h1> -->

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<!--         <a class="navbar-brand">Semantic-WebApp</a> -->
		<ul class="nav navbar-nav" routerLinkActive="active2">
			<li class="nav-item"><a class="nav-link"
				routerLinkActive="active" routerLink="Courses">Courses</a></li>
			<li class="nav-item"><a class="nav-link"
				routerLinkActive="active" routerLink="SemesterCourses">Semester
					Courses</a></li>
			<li class="nav-item"><a class="nav-link"
				routerLinkActive="active" routerLink="Rooms">Rooms</a></li>
			<li class="nav-item"><a class="nav-link"
				routerLinkActive="active" routerLink="Persons">Persons</a></li>
		</ul>
	</div>
</nav>
