/* Add a black background color to the top navigation */
nav {
    background-color: #808080;
    margin: 0;
    overflow: hidden;
}

.navbar-nav {
	margin: 0;
	padding: 0;
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Style the links inside the navigation bar */
/* Create a style for the first level items */
a.nav-link  {
    color: #aaa;
    background-color:#008040;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #4CAF50;
    color: white;
}